* {
    box-sizing: border-box;
}

body {
    text-align: center;
}

li {
    list-style-type: none;
}

.sixteen-day-forecast {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    margin: 0 auto;
    max-width: 80%;
}

.single-day-forecast {
    padding: 2em;
    background-color: lightblue;
}
